<% provide(:title, 'All Users') %>
<h1>職員一覧</h1>

<div class="col-md-12 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th ><%= User.human_attribute_name :employee_number %></th> <!--職員番号-->
        <th ><%= User.human_attribute_name :department %></th> <!--所属-->
        <th ><%= User.human_attribute_name :job_title %></th> <!--職-->
        <th><%= User.human_attribute_name :name %></th> <!--氏名-->
        <th><%= User.human_attribute_name :email %></th> <!--メールアドレス-->
        <% if current_user.admin? %>
          <th><%= User.human_attribute_name :base_pay %></th> <!--基本給-->
        <% end %>
        <th>単価125</th>
        <th>単価135</th>
        <th>単価150</th>
        <th>単価160</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.employee_number %></td> <!--職員番号-->
        <td><%= user.department %></td> <!--所属-->
        <td><%= user.job_title %></td> <!--職-->
        <td>
          <% if current_user.office_staff? %>
            <%= link_to user.name, user %> <!--氏名-->
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <% if current_user.admin? %>
          <td><%= user.base_pay %></td> <!--基本給-->
        <% end %>
        <td><%= unit_price_125(user.base_pay) %></td> <!--単価125-->
        <td><%= unit_price_135(user.base_pay) %></td> <!--単価135-->
        <td><%= unit_price_150(user.base_pay) %></td> <!--単価150-->
        <td><%= unit_price_160(user.base_pay) %></td> <!--単価160-->
        <td>
           <% if current_user.admin? && !current_user?(user) %>
             <%= link_to '職員情報編集', edit_basic_info_user_path(user), class: "btn btn-success" %>
             <%= link_to "削除", user, data: {turbo_method: :delete, turbo_confirm: "削除してよろしいですか？"}, class: "btn btn-danger" %>
             <%= link_to '職員詳細', user, class: "btn btn-primary" %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>