<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>職員番号</td>
      <td>所属</td>
      <td>職</td>
      <td>氏名</td>
      <td>基本給</td>
      <td>単価125</td>
      <td>単価135</td>
      <td>単価150</td>
      <td>単価160</td>
      <td>休日単価</td>
      <td>夜間単価</td>
    </tr>

    <tr>
      <td><%= @user.employee_number %></td> <!--職員番号-->
      <td><%= @user.department %></td> <!--所属-->
      <td><%= @user.job_title %></td> <!--職-->
      <td><%= @user.name %></td> <!--名前-->
      <td><%= @user.base_pay %></td> <!--基本給-->
      <td><%= unit_price_125(@user.base_pay) %></td> <!--単価125-->
      <td><%= unit_price_135(@user.base_pay) %></td> <!--単価135-->
      <td><%= unit_price_150(@user.base_pay) %></td> <!--単価150-->
      <td><%= unit_price_160(@user.base_pay) %></td> <!--単価160-->
      <td><%= unit_price_135(@user.base_pay) %></td> <!--休日単価-->
      <td><%= unit_price_25(@user.base_pay) %></td> <!--夜間単価-->
    </tr>
    
  </table>
</div>

<% if @aprv_count > 0 %>
  <div>
    <%= link_to "【時間外勤務申請のお知らせ】", attendances_edit_overtime_aprv_user_path, data: { turbo_frame: 'modal' } %> <!--引数はそのuserの月初-->
      <span class="notification-badge">
        <%= "#{@aprv_count}件の通知があります" %>
      </span>
  </div>
<% end %>

<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-default" %>
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-default" %>
  <%= link_to "勤務編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendaces">
    <thead>
      <tr>
        <th rowspan="3">時間外勤務申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th rowspan="3">勤務</th>
        <th colspan="8">時間外勤務</th>
        <th colspan="2" rowspan="2">休日勤務</th>
        <th rowspan="3">勤務内容</th>
        <th rowspan="3">命令・確認㊞</th>
      </tr>

      <tr>
        <th colspan="2">開始予定時間</th>
        <th colspan="2">終了予定時間</th>
        <th colspan="2">開始時間</th>
        <th colspan="2">終了時間</th>
      </tr>

      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr class="text-center" >
          <td>
            <%= link_to "時間外勤務申請", attendances_edit_overtime_req_user_path(date: day.worked_on), data: { turbo_frame: 'modal' }, class: "btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td> <!--日付-->
              <% class_for_day = case $days_of_the_week[day.worked_on.wday]
                when '土'
                     'text-primary'
                when '日'
                     'text-danger'
                end
              %>
          <td class="<%= class_for_day %>"> <!--上記で曜日指定し、代入したものをここで記述している。更に色指定をCSSで行う。-->
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><%= day.work_status %></td> <!--勤務-->
          <td><%= l(day.plan_started_at, format: :timeH) if day.plan_started_at.present? %></td> <!--開始予定時間 時-->
          <td><%= l(day.plan_started_at, format: :timeM) if day.plan_started_at.present? %></td> <!--開始予定時間 分-->
          <td><%= l(day.plan_finished_at, format: :timeH) if day.plan_finished_at.present? %></td> <!--終了予定時間 時-->
          <td><%= l(day.plan_finished_at, format: :timeM) if day.plan_finished_at.present? %></td> <!--終了予定時間 分-->
          <td><%= l(day.started_at, format: :timeH) if day.started_at.present? %></td> <!--開始時間 時-->
          <td><%= l(day.started_at, format: :timeM) if day.started_at.present? %></td> <!--開始時間 分-->
          <td><%= l(day.finished_at, format: :timeH) if day.finished_at.present? %></td> <!--終了時間 時-->
          <td><%= l(day.finished_at, format: :timeM) if day.finished_at.present? %></td> <!--終了時間 分-->
          <td></td> <!--休日勤務 時-->
          <td></td> <!--休日勤務 分-->
          <td><%= day.work_content %></td> <!--勤務内容-->
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>