<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>職員番号</td>
      <td>所属</td>
      <td>職</td>
      <td>氏名</td>
      <td>基本給</td>
      <td>単価125</td>
      <td>単価135</td>
      <td>単価150</td>
      <td>単価160</td>
      <td>休日単価</td>
      <td>夜間単価</td>
    </tr>

    <tr>
      <td><%= @user.employee_number %></td> <!--職員番号-->
      <td><%= @user.department %></td> <!--所属-->
      <td><%= @user.job_title %></td> <!--職-->
      <td><%= @user.name %></td> <!--名前-->
      <td><%= @user.base_pay %></td> <!--基本給-->
      <td><%= unit_price_125(@user.base_pay) %></td> <!--単価125-->
      <td><%= unit_price_135(@user.base_pay) %></td> <!--単価135-->
      <td><%= unit_price_150(@user.base_pay) %></td> <!--単価150-->
      <td><%= unit_price_160(@user.base_pay) %></td> <!--単価160-->
      <td><%= unit_price_135(@user.base_pay) %></td> <!--休日単価-->
      <td><%= unit_price_25(@user.base_pay) %></td> <!--夜間単価-->
    </tr>
    
  </table>
</div>

<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-default" %>
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-default" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendaces">
    <thead>
      <tr>
        <p><%= l(@first_day, format: :short1) %>月</p>
      </tr>
      <tr>
        <th>日付</th>
          <% @attendances.each do |day| %>
            <td><%= l(day.worked_on, format: :short2) %></td>
          <% end %>
      </tr>
      <tr>
        <th>曜日</th>
          <% @attendances.each do |day| %>
            <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% end %>
      </tr>
      <tr>
        <th>勤務</th>
          <%= form_with(model: @user, local: true) do |f| %>
            <% (@first_day..@last_day).each do |date| %>
              <td>
                <%= f.select "work_status_#{date.day}", options_for_select(User.work_statuses.map { |status, value| [status, value] }), {}, class: 'work-status-select' %>
              </td>
            <% end %>
      </tr>
    </thead>
  </table>
</div>
      <div>
        <%= f.submit %>
        <% end %>
      </div>