<%= provide(:title, 'overtime-req') %>
<h1>時間外勤務申請</h1>

<div>
  <table class="table table-bordered table-condensed user-table">
    <%= form_with(model: @user, url: attendances_update_overtime_req_user_path(id: params[:id]), local: true, method: :patch) do |f| %>
      <thead>
        <tr>
          <td>起案</td>
          <td>氏名</td>
          <td>日付</td>
          <td>曜日</td>
          <td>当非週</td>
          <td>夜間通信勤務時間</td>
          <td>開始予定時間</td>
          <td>終了予定時間</td>
          <td>勤務内容</td>
          <td>申請先</td>
        </tr>
      </thead>

      <tbody>
          <%= f.fields_for "attendances[]", @attendance do |attendance| %>
            <tr>
              <td><%= attendance.collection_select(:planner, @office_staff, :name, :name, { include_blank: true }) %></td> <!--起案-->
              <td><%= @user.name %></td> <!--氏名-->
              <td><%= attendance.date_select :worked_on, { include_blank: true, discard_year: true } %></td> <!--日付-->
              <td><%= attendance.select :day_of_week, ["日", "月", "火", "水", "木", "金", "土"], {} %></td></td> <!--曜日-->
              <td><%= attendance.select :work_type, ["当", "非", "週", "日"], {} %></td> <!--当非週-->
              <td><%= attendance.select :communication_work_type, ["なし", "22～24", "0～2", "2～4", "4～6"], {} %></td> <!--夜間通信勤務時間-->
              <td><%= attendance.time_select :plan_started_at, { include_blank: true } %></td> <!--開始予定時間-->
              <td><%= attendance.time_select :plan_finished_at, { include_blank: true } %></td> <!--終了予定時間-->
              <td><%= attendance.text_field :work_content, placeholder: "入力してください" %></td> <!--勤務内容-->
              <td><%= attendance.collection_select(:confirmed_request, @superior, :name, :name, { include_blank: true }) %></td> <!--指示者確認㊞-->
            </tr>
          <% end %>
      </tbody>
  </table>
    <%= f.submit "申請を送信する", class: "btn btn-primary " %>
    <% end %>
</div>