<% provide(:title, 'chg_req') %>

<%= form_with(model: @user, url: attendances_update_attendance_aprv_user_path, local: true, method: :patch) do |f| %>
  <% @users.each do |user| %>
    <h1 class="title"><%= "#{user.name}の勤務変更申請" %></h1>
      <div class="body">
        <div class="row">
          <div class="col-md-7">
            <table class="table table-striped table-bordered table-condensed">
              <thead>
                <tr class="text-center">
                  <td>月</td>
                  <td>承認・否認</td>
                  <td>決定</td>
                  <td>勤務を確認する</td>
                </tr>
              </thead>

              <tbody>
                <% @attendances.where(user_id: user.id).each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                    <tr>
                      <td><%= l(day.worked_on.beginning_of_month, foramat: :month) %></td> <!--月-->
                      <td><%= attendance.select :aprv_status, ['承認', '否認'], {}, { class: 'form-control' } %></td> <!--指示者確認㊞-->
                      <td><%= attendance.check_box :aprv_chk %></td> <!--変更-->
                      <td><%= link_to "確認", user_path(user, date: day.worked_on.beginning_of_month), target: "_blank", class: "btn btn-primary" %></td> <!--userにcurrent_userが入っている-->
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
  <%= f.submit "送信する", class: "btn btn-primary btn-lg" %>
<% end %>